/* Root container adjustment */
#root {
}

/* Remove default margins and padding from all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Card and other elements styling */
.card {
  padding: 2em;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
