/* Root container adjustment */
#root {
  /*max-width: 100%;*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
}

/* Remove default margins and padding from all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Card and other elements styling */
.card {
  padding: 2em;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
